div {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #BDB78B;

}

p{
  height: 100px;
  width: 100px;
  margin: 0;
  float: left;
}
/*background-image: radial-gradient (blue, tomato

background-image: linear-gradient(45deg, blue 0%,blue 50%, tomato 50%, tomato 50%);)*/

.parell{
  background-color: white;
}

.imparell{
  background-color: black;
}

b{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  background-image: radial-gradient(white, black);
  background-size: 200% 200%;
  background-position:
}
b:hover{
  position: relative;
  top:100px;
}
n{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  background-image: radial-gradient(black, white);
  background-size: 200% 200%;
}
n:hover{
  position: relative;
  top:-100px;
}
.imparell b, .imparell n{
  background-image: radial-gradient(blue, white);
  background-size: 200% 200%;


/* TEORIA: PSEUDO-CLASSES
etiquetes--->elements genèrics p.ex <div>
classes---> rlrmrntds classificants en subgrups p.ex .imparell
ID---> elements identificaats de fprma única p.ex #reiblanc
pseudo-classes---> estats dels elements p.ex
:hover-- quan àssem per sobre
:visited-- quan l'hem visitat
:active-- quan estem fent clics
:focus-- quan està seleccionat
:checked--quan està "checkat"
:firts-child--primer element
:last.child--últim element
:nth-child-- element N
*/
